# Dirac
type dirac_prop, property_type;
type cnss_prop, property_type;
type persist_camera, property_type; 
# Thermal engine
type thermal_engine_prop, property_type;

